{% extends 'lojaApp/base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="confirm-delete">
    <h2>{{ titulo }}</h2>
    <p>Tem certeza que deseja excluir o registro: <strong>{{ objeto }}</strong>?</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="button">Confirmar Exclusão</button>
            <a href="{% url url_cancelar %}" class="button-delete">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
